* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {width: 100%;}
ul {list-style: none;}
a{text-decoration: none;}

body {
/*    overflow-y: hidden;*/
    height: 100vh;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0 !important;
    width: 100% !important;
    height: 5rem;
    background-color: #fff;
    z-index: 1;
}
header #logo {
    width: 16rem;
    margin-left: 150px;
    padding: 0 15px;
}
header #logo a {
    padding: 4px 18px 0px;
    width: 200px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}
header ul {
    width: 40rem;
    height: 5rem;
    margin: 0 auto;
}
header ul li {
    float: left;
    text-align: center;
    padding: 30px 0px;
}
header #navbar a {
    padding: 30px 20px;
    font: 16px Tahome, sans-serif;
    color: #68362F;
}
header #navbar a:hover {
    border-bottom: 3px solid #9D4B41;
}


main {
    height: 100vh;
    background: #ccc;
    margin-top: 5rem;
    display: block;
}
#carousel {
    height: 100vh;
}
.prev, .next, .down {
    position: absolute;
    display: block;
    height: 100vh;
    overflow: hidden;
/*    background-color: blue;*/
}
.prev {
    float: left;
    left: 0;
    width: 7rem;
}
.next {
    float: right;
    right: 0;
    width: 7rem;
}
.prev a, .next a {
/*    width: 8rem;*/
    display: block;
/*    background-color: aqua;*/
    height: 100vh;
    text-align: center;
    opacity: 0;
    transition: all ease .3s;
}
.prev img, .next img {
    position: relative;
    width: 4rem;
    top: 50%;
    margin-top: -50%;
}
.prev a:hover, .next a:hover {
    opacity: 1;
}
.down {
    display: inline-block;
    background: red;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    margin: 0 auto;
/*    top: 7%;*/
    left: 46%;
    text-align: center;
/*    right: 50%;*/
}
.down img {
    display: inline-block;
    margin: 0 auto;
    width: 30rem;
    transform: rotate(90deg);
}

.carousel_item {
    height: 100vh;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



#info {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}









/*** Footer ***/
footer {
/*
    position: absolute;
    width: 100%;
    bottom: 0;
*/
    background: #eee;
    text-align: center;
    padding: 15px 0 15px;
}
footer .heart {
    display: inline-block;
    margin-bottom: 12px;
    animation: animateHeart 1.5s infinite;
}
footer .heart:before, footer .heart:after {
    position: absolute;
    content: '';
    top: 0;
    left: 8px;
    width: 8px;
    height: 13px;
    background: #f34235;
    border-radius: 10px 10px 0 0;
    transform: rotate(-45deg) translateZ(0);
    transform-origin: 0 100%;
}
footer .heart:after {
    left: 0;
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

/* footer .heart */
@-webkit-keyframes animateHeart {
  0% { -webkit-transform: scale(1); }
  5% { -webkit-transform: scale(1.2); }
  10% { -webkit-transform: scale(1.1); }
  15% { -webkit-transform: scale(1.3); }
  50% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}
@keyframes animateHeart {
    0% { -webkit-transform: scale(1); transform: scale(1);}
    5% { -webkit-transform: scale(1.2); transform: scale(1.2); }
    10% { -webkit-transform: scale(1.1); transform: scale(1.1); }
    15% { -webkit-transform: scale(1.3); transform: scale(1.3); }
    50% { -webkit-transform: scale(1); transform: scale(1); }
    100% { -webkit-transform: scale(1); transform: scale(1); }
}
