@font-face {
    font-family: DejaVuSans-ExtraLight;
    src: url("../font/DejaVuSans-ExtraLight.ttf")
}
a.navbar-brand img {
    width: 170px;

}
hr {
    border-width: 1px;
    max-width: 100% !important;
}
section#services {
    padding: 5rem 0;
}
section#contact {
    padding: 2rem;
}
.row > div.col-lg-3 {
    box-shadow: 0px 8px 36px -20px #000;
    transition: all ease 0.4s;
    margin: 0px;
}
.row > div.col-lg-3:hover {
    cursor: pointer;
    box-shadow: 0px 12px 25px -12px #000;
}

a.btn-light[href*="services"] {
    width: 60px !important;
    height: 60px !important;
    padding: 5px !important;
    border: 2px solid #fff !important;
    box-sizing: border-box !important;
    color: #fff;
    z-index: 1;
    
}
a.btn-light[href*="services"]:hover,
a.btn-light[href*="services"]:active,
a.btn-light[href*="services"]:focus {
    box-shadow: 0px 0px 7px 0px #fff;
}
.row div.col-lg-12:first-of-type {
    padding: 0 !important;
}
header.masthead {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    background: none;
    background-image: url(../img/paper-3154814_1920.jpg);
    background-color: rgba(0, 0, 0, 0.3);
    transition: all ease 1.7s;
}
nav.fixed-top {
    transition: all ease 0.5s !important;
}
header.masthead {
    overflow: hidden;
}
div#cover {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}



.navbar {
    background-color: white !important;
}
.navbar ul li a {
    color: #000 !important;
}


/*****************
****** MAIN ******
*****************/

header h2.text-uppercase {
    font: 66px normal normal, DejaVuSans-ExtraLight, sans-serif; 
}
header div.row p >i {
    font-size: 18px;
    font-family: DejaVuSans-ExtraLight;
}
div.col-lg-8 a.btn-xl {
    background-color: rgba(157,75,65,.7) !important;
}
div.col-lg-8 a.btn-xl:hover,
div.col-lg-8 a.btn-xl:active,
div.col-lg-8 a.btn-xl:focus {
    background-color: rgba(157,75,65,1) !important;
    box-shadow: 0;
    border: 0;
}

/*

header.masthead:after {
    padding: 0;
    content: " ";
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
}
header.masthead:before {
    content: " ";
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}*/
